<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--图片域名地址-->
  <add key="ImageDomain" value="http://jifen.shinho.net.cn" />
  <!--前台域名地址-->
  <add key="WeiXinDomain" value="http://jifenweixin.shinho.net.cn" />

  <!--<add key="ImageDomain" value="http://testjifen.shinho.net.cn" />
  <add key="WeiXinDomain" value="http://testjifenweixin.shinho.net.cn/#/" />-->

  <!--微信Token-->
  <add key="WeiXinToken" value="Shinho201412024"/>
  <!--微信EncodingAESKey-->
  <!--<add key="WeiXinEncodingAESKey" value="uGNsgNZuM6E32Y4FkNdWVeDAy4o5M0UVwH3npbUBChK"/>-->
  <!--微信appid-->
  <!--<add key="WeiXinAppid" value="wx9657251bde1a71c4"/>-->
  <!--微信secret-->
  <!--<add key="WeiXinSecret" value="cb9dcd4b486ff56b34502e3c6d7bd64c"/>-->

  <!--微信EncodingAESKey-->
  <add key="WeiXinEncodingAESKey" value="04bxyBliZnYG1T6TMP5udCqm9qOlogXlMnIXTsv7zix"/>
  <!--微信appid-->
  <add key="WeiXinAppid" value="wxa9067ffebe95ca17"/>
  <!--微信secret-->
  <add key="WeiXinSecret" value="b4f6329d708c9b51f89d48f61a45d215"/>

  <!--活动图片-->
  <add key="ActivityImgUrl" value="/content/images/disc-rotate.png"/>

  <!--错误日志记录开关-->
  <add key="IsErrorLog" value="true" />

  <!--扫描二维码 调用积分增加页面(两个参数：url，openid)-->
  <!--<add key="ScanCodeInfoUrl" value="http://qrcode.shinho.net.cn/Parse/FromEvent" />-->
  <add key="ScanCodeInfoUrl" value="http://wxhome1.shiyujia.com/Parse/FromEvent" />

  <!--扫描会员二维码 关注公众号 调用页面-->
  <!--<add key="AddFollowerOpenId" value="http://jifenweixin.shinho.net.cn/RegistSaleMan/AddFollowerOpenId" />-->
  <add key="AddFollowerOpenId" value="http://wxweb1.shiyujia.com/RegistSaleMan/AddFollowerOpenId" />

  <!--会员注册页面-->
  <!--<add key="RegistSalemanUrl" value="http://jifenweixin.shinho.net.cn/registsaleman/create" />-->
  <add key="RegistSalemanUrl" value="http://wxweb1.shiyujia.com/registsaleman/create" />
  <add key="RegistActivityUrl" value="http://wxweb1.shiyujia.com/CheckIn/Index" />

  <add key="TuiJianUrl" value="http://localhost:54450/RegistMember/NewCreate?TuiJianId=" />
  <!--<add key="TuiJianUrl" value="http://jifenweixin.shinho.net.cn/RegistMember/NewCreate?TuiJianId=" />-->

  <!--短信接口设置 1：http://192.168.8.5:9998   2：http://ms.liangrong-bm.cn-->
  <add key="SmsInterface" value="4" />

  <!--移动号段-->
  <add key="yidongDNSEG" value="134,135,136,137,138,139,147,150,151,152,154,157,158,159,178,182,183,184,187,188" />
  <!--联通号段-->
  <add key="liantongDNSEG" value="130,131,132,145,155,156,176,185,186" />
  <!--电信号段-->
  <add key="dianxinDNSEG" value="133,153,177,180,181,189" />


  <!--Redis主机地址-->
  <add key="RedisHost" value="10.22.2.48" />
  <!--Redis端口-->
  <add key="RedisPort" value="6379" />
  <!--Redis密码-->
  <add key="RedisPassword" value="111111" />
  <!--空奖比例，0为无空奖-->
  <add key="EmptyAwardRatio" value="40.4" />
  <!--奖品抽取限制，针对免费名称制定，形式：大区ID-数量限制-->
  <add key="PrizeDrawLimit" value="1-1,2-1,3-1,4-1,6-1,9-1" />
  <!--指定的用户ID-->
  <add key ="PrizeUserLimit" value=""/>

  <!--易宝支付 代理商编号,正式上线的时候换成您自己的编号-->
  <add key="agentmerhantId" value="AGENT10000001508"/>
  <!--易宝支付 代理商密钥,正式上线的时候换成您自己的密钥-->
  <add key="agentkeyValue" value="QZ139B36987DE88B9ZT"/>
  <!--易宝支付 代理商支付请求地址，上线时请使用正式的地址，默认是使用测试地址-->
  <add key="agentAuthorizationURL" value="http://ncz.yeepay.com/agent/topupByInterface.action"/>
  <!--易宝支付 代理商支付查询地址，上线时请使用正式的地址，默认是使用测试地址-->
  <add key="queryAuthorizationURL" value="http://ncz.yeepay.com/agent/queryTopupByInterface.action"/>

  <!--99支付地址-->
  <add key="_99douHost" value="http://api2.99dou.com:8000/Api/Service"/>
  <!--99支付代理商ID-->
  <add key="_99douPartner" value="10001"/>

  <!--殴飞充值SP编码-->
  <add key="OFCARDUserId" value="A1071731"/>
  <!--殴飞充值密码-->
  <add key="OFCARDUserpws" value="wangyani0316"/>
  <!--禁用BrowserLink.js-->
  <add key="vs:EnableBrowserLink" value="false"/>
</appSettings>

